#logo{
width:150px;
/* float: left; */
padding-right: 10px;

}

#search >*:not(:first-child){
/* float: right; */
padding-left:370px;

}
 
 #search{
    padding: 60px;
    background-color: palevioletred;
} 

#button{
background-color:black;

}

#playlist{
    background-color:yellowgreen;
    /* background-size: 300px; */
}